#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.App {
  overflow: hidden;
  padding: auto;
  align-items: center;
}

.read-the-docs {
  color: #888;
}
form {
  position: absolute;
  display: flex;
  size: 100%;
}
.msgDiv {
  display: flex;
  flex-direction: column;
  background: #888;
  border: none;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 10px;
}
p {
  margin-left: 20px;
  align-self: center;
}

.btn {
  margin-left: 10px;
}
.textInput {
  border-radius: 10px;
}
